<div class="details">
	<div class="details-header">
		<div class="left">
			<img src="./assets/channel-name-icon.png" />
			<h1>Channel Name</h1>
		</div>
		<div class="right">
			<div class="action-button">
				<img src="./assets/add-members-icon.png" />
				<label>Add Member</label>
			</div>
			<div class="action-button">
				<img src="./assets/manage-invitations-icon.png" />
				<label>Manage Invitations</label>
			</div>
			<div class="action-button">
				<img src="./assets/view-reports-icon.png" />
				<label>View Reports</label>
			</div>
		</div>
	</div>
	<div class="details-content">
		<table>
			<thead>
				<tr>
					<th>Channel Id</th>
					<th>Block Height</th>
					<th>Date Created</th>
					<th>Members</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>abcd1234zxsd</td>
					<td>0xabcd1234zxsd623t2wbss8s</td>
					<td>25-2-2019 08:24:00</td>
					<td>20</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>