@import "~variables.scss";

:host{
	width: 100%;
	margin-top: 20px;
}
.members{
	.members-header{
		display: flex;
	    padding: 20px 20px 15px 20px;
	    border-bottom: 2px solid $border-dark;
	    h1{
	    	font-size: 20px;
	    	color: $black-text;
	    	margin: 0;
	    }
	}
	.members-content{
		padding: 10px 20px;
		table{
			width: 100%;
		}
		thead{
			background: $blue-bg;
			tr{
				th{
					color: $white;
					font-size: 13px;
					font-weight: 400;
					padding: 10px 0px;
				}
				th:first-child{
					padding: 0px 50px;
				}
			}
		}
		tbody{
			border-bottom: 1px solid $grey-bg;
			tr{
				td{
					font-size: 13px;
					font-weight: 400;
					color: $dark-text;
					padding: 10px 0;
					&:nth-last-child(1),
					&:nth-last-child(2){
						color: $blue-text;
						&:hover{
							cursor: pointer;
						}
					}
				}
				td:first-child{
					padding: 0px 50px;
				}
			}
		}
	}
}